<nav
  class="app-breadcrumb-bar"
  *ngIf="showBreadcrumb"
  aria-label="Breadcrumb"
>
  <div class="container-fluid app-breadcrumb-bar__inner">
    <div class="app-breadcrumb-bar__row">
      <ol class="breadcrumb app-breadcrumb mb-0">
        <li class="breadcrumb-item" *ngFor="let breadcrumbItem of breadcrumbItems">
          <a *ngIf="!breadcrumbItem.active" [routerLink]="breadcrumbItem.url">
            {{ breadcrumbItem.label }}
          </a>
          <span *ngIf="breadcrumbItem.active" class="active" aria-current="page">
            {{ breadcrumbItem.label }}
          </span>
        </li>
      </ol>

      <button
        *ngIf="showBackButton"
        type="button"
        class="btn btn-outline-secondary btn-sm app-breadcrumb-bar__back"
        (click)="goBack()"
      >
        {{ 'common.back' | t }}
      </button>
    </div>
  </div>
</nav>
